<div class="container-fluid">
    <div class="row justify-content-center">
        {{#unless Games}}
        <div class="jumbotron noSavedAlert text-white bg-dark">
            <h1 class="display-4">Uh, oh!</h1>
            <p class="lead">There seems to be a bit of a problem...You haven't scraped any games yet!</p>
            <hr class="my-4">
            <p>Please scrape Steam, save what you like and check back later.</p>
            <a class="btn btn-danger btn-lg noDataButton" href="/scrape" role="button">Scrape All Games</a>
        </div>
        {{/unless}}
        {{#each Games}}
        {{#if saved}}
        <div data-_id="{{this._id}}" class="card text-white bg-dark col-lg-3 col-md-4 col-sm-12 ml-4 mr-4 mb-4 mt-4 saved-glow">
            <img src="{{this.photo}}" class="card-img-top game-img" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="game-link" href="{{this.link}}">{{this.title}}</a></h5>
                <p class="card-text">{{this.tags}}</p>
                {{!-- <a data-_id="{{this._id}}" class="btn btn-primary save">Save!</a> --}}
                <div class="form-check">
                    <input data-_id="{{this._id}}" class="form-check-input" type="checkbox" value="" id="savedCheck"
                        checked="checked">
                    <label class="form-check-label" for="savedCheck">Saved</label>
                </div>
            </div>
        </div>
        {{/if}}

        {{#unless saved}}
        <div data-_id="{{this._id}}" class="card text-white bg-dark col-lg-3 col-md-4 col-sm-12 ml-4 mr-4 mb-4 mt-4">
            <img src="{{this.photo}}" class="card-img-top game-img" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="game-link" href="{{this.link}}">{{this.title}}</a></h5>
                <p class="card-text">{{this.tags}}</p>
                {{!-- <a data-_id="{{this._id}}" class="btn btn-primary save">Save!</a> --}}
                <div class="form-check">
                    <input data-_id="{{this._id}}" class="form-check-input" type="checkbox" value="" id="savedCheck">
                    <label class="form-check-label" for="savedCheck">Saved</label>
                </div>
            </div>
        </div>
        {{/unless}}
        
        {{/each}}
    </div>
</div>