<div class="container-fluid">
    <div class="row justify-content-center">
        {{#each Games}}
        <div data-_id="{{this._id}}" class="card col-lg-3 col-md-4 col-sm-12 ml-2 mb-2 mt-2">
            <img src="{{this.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{this.link}}">{{this.title}}</a></h5>
                <p class="card-text">{{this.tags}}</p>
                {{!-- <a data-_id="{{this._id}}" class="btn btn-primary save">Save!</a> --}}
                <div class="form-check">
                    <input data-_id="{{this._id}}" class="form-check-input" type="checkbox" value="" id="savedCheck"
                        checked="checked">
                    <label class="form-check-label" for="savedCheck">Saved</label>
                    <button data-_id="{{this._id}}" class="btn-sm btn-success comment float-right" data-toggle="modal" data-target="#commentModal">Comment</button>
                    {{!-- <button type="button" data-toggle="modal" data-target="#commentModal">Launch modal</button> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-savedID="{{Games}}"id="exampleModalCenterTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{Games}}</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn">Submit</button>
            </div>
        </div>
    </div>
</div>