<div class="container-fluid">
    <div class="row justify-content-center">
        {{#unless Games}}
        <div class="jumbotron noSavedAlert text-white bg-dark">
            <h1 class="display-4">Uh, oh!</h1>
            <p class="lead">There seems to be a bit of a problem...You haven't saved any games yet!</p>
            <hr class="my-4">
            <p>Please browse all of the games, save what you like and check back later.</p>
            <a class="btn btn-danger btn-lg noDataButton" href="/top" role="button">Back</a>
        </div>
        {{/unless}}
        {{#each Games}}
        <div data-_id="{{this._id}}" id="{{this._id}}"
            class="card text-white bg-dark col-lg-3 col-md-4 col-sm-12 ml-2 ml-4 mr-4 mb-4 mt-4 saved-glow">
            <img src="{{this.photo}}" class="card-img-top game-img" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="game-link" href="{{this.link}}">{{this.title}}</a></h5>
                <p class="card-text">{{this.tags}}</p>
                <div class="form-check">
                    <input data-_id="{{this._id}}" class="form-check-input" type="checkbox" value="" id="savedCheck"
                        checked="checked">
                    <label class="form-check-label" for="savedCheck">Saved</label>
                    <button id="{{this._id}}" class="btn-sm btn-primary ml-2 view-note-btn" type="button"
                        data-toggle="collapse" data-target="#cmnt{{this._id}}" aria-expanded="false"
                        aria-controls="cmnt{{this._id}}">
                        See Notes
                    </button>
                    <button data-_id="{{this._id}}" class="btn-sm btn-success comment" data-toggle="modal"
                        data-target="#commentModal">Add Note</button>

                    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content bg-dark text-white">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" id="commentInput" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary save-btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="cmnt{{this._id}}">
                    <div data-_id="{{this._id}}" class="card card-body text-white bg-dark mt-3 notes">
                        {{#each note}}
                        <p data-id="{{this}}" class="align-center note">{{this}}<button type="button"
                                class="btn-sm btn-danger float-right delete-comment-btn">Delete</button></p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>